  .tile.tile-2 .tile-inner {
    background: #ffffff; }
  .tile.tile-4 .tile-inner {
    background: #ffcccc; }
  .tile.tile-8 .tile-inner {
    background: #ff9999; }
  .tile.tile-16 .tile-inner {
    background: #ff6666; }
  .tile.tile-32 .tile-inner {
    background: #ff3333; }
  .tile.tile-64 .tile-inner {
    background: #ff0000; }
  .tile.tile-128 .tile-inner {
    background: #cc0000;
    font-size: 50px; }
    @media screen and (max-width: 520px) {
      .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #990000;
    font-size: 50px; }
    @media screen and (max-width: 520px) {
      .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #660000;
    font-size: 50px; }
    @media screen and (max-width: 520px) {
      .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #330000;
    font-size: 37px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
.tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #000000;
    font-size: 37px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
